name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          coverage: xdebug

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

# TODO
#      - name: Run PHPStan
#        run: vendor/bin/phpstan analyse src --level=max

# TODO
#      - name: Run Psalm
#        run: vendor/bin/psalm --no-cache

      - name: Run Pest
        run: vendor/bin/pest --coverage

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
